<!DOCTYPE html>
<html lang="en">
    <% include partials/header %>
    <body style="padding-top: 72px;">
    <% include partials/nav %>
    <%- body -%>
        
    <% include partials/footer %>   
    </body>
</html>