@media (max-width: 768px) {
    .sm-post-img {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .md-post-img {
        max-height: 400px;
    }
}

a:hover {
 cursor:pointer;
}

.tag-pill {
    background-color: #17a2b8;
    color: white;
}

.tag-pill-button label {
    margin-bottom: 0;
}

.tag-pill-large {
    font-size: 11pt;
}

.tagcheckbox {
    display: none;
}

.tag-pill-button input:checked + div {
    background-color:#0f3474;
}
