@media (max-width: 768px) {
    .sm-post-img {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .md-post-img {
        max-height: 400px;
    }
}

a:hover {
 cursor:pointer;
}

.tag-pill {
    background-color: #17a2b8;
    color: white;
}
